.items-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.vertical-align-bottom-flex {
    display: flex;
    align-items: stretch;
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.group-top-link-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.group-bottom-link-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.link-top {
    color: brown;
    text-decoration: none;
    padding: 10px;
}

.link-top:hover {
    text-decoration: none;
    color: blue;
    background-color: antiquewhite;
    border-radius: 10px;
}

.information {
    color: brown;
}

.item-view {
    text-decoration: none;
    padding: 5px;
}

.item-view:hover {
    text-decoration: none;
    border: 2px darkgray solid;
    border-radius: 20px 0px 20px 0px;
}

.item-view-image {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.item-view-title {
    color: #2b542c;
    font-size: 14pt;
}

.item-view-price {
    color: #2b542c;
    font-size: 12pt;
}

#brand {
    max-width: 75%;
    height: auto;
    border-radius: 20px;
    border-bottom: groove 3px gray;
    border-right: groove 3px gray;
}

#order-call {
    border-bottom: dashed 2pt black;
    padding-bottom: 3px;
}

#link-cart {
    color: brown;
    text-decoration: none;
    padding: 10px;
}

#link-cart:hover {
    text-decoration: none;
    background-color: antiquewhite;
}

#myCarousel {
    margin-top: 10px;
    margin-bottom: 20px;
}

.item-slide {
    height: 100%;
}

.carousel-caption a {
    text-decoration: none;
    color: brown;
}

.item-slide-img {
    max-width: 25%;
    height: auto;
}

.item-cart-view input {

}